.profile__pen {
  background-image: url('../../../img/pen.svg');
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}